<div class="container-fluid">
  <div class="page-header">
    <div class="row">
      <div class="col-lg-6">
        <h3>Paginal Incial
          <small>Bem-Vindo!</small></h3>
      </div>
    </div>
  </div>
</div>

<!-- Feed -->
<div _ngcontent-xrh-c8="" class="container-fluid">
  <div _ngcontent-xrh-c8="" class="row">
    <div _ngcontent-xrh-c8="" class="col-sm-12 ">
      
      <!-- Usuario header-->
      <div _ngcontent-xrh-c8="" class="card">
        <div _ngcontent-xrh-c8="" class="card-header">
          <div _ngcontent-emg-c16="" class="row mb-2">
            <div _ngcontent-ikr-c29="" class="card-profile">
              <img _ngcontent-emg-c16="" alt="" class="img-70 rounded-circle" src="assets/images/user/11.png">
            </div>
            <div _ngcontent-emg-c16="" class="col">
              <h4 _ngcontent-emg-c16="" class="mb-1 ">Usuario</h4>
              <p _ngcontent-emg-c16="" class="mb-4 ">@user</p>
           </div>
          </div>
        </div>
        <div _ngcontent-xrh-c8="" class="card-body">
          <form _ngcontent-rnt-c11="" class="needs-validation ng-untouched ng-pristine ng-valid" novalidate="">
            <div _ngcontent-xrh-c8="" class="form-row">
              <div _ngcontent-rnt-c11="" class="col-md-10 mb-3">
                <input _ngcontent-xrh-c8="" class="form-control ng-untouched ng-pristine ng-invalid" name="conteudo" [(ngModel)]="tweet.conteudo" placeholder="Digite aqui/Tweet aqui" type="text">
              </div>
            </div>
          </form>
          <button _ngcontent-ikr-c7="" class="btn btn-primary mr-1" type="button" (click)="tweetar()">Tweetar</button> 
        </div>
      </div>
        <!-- Fim do Usuario header-->

        <h4 _ngcontent-ikr-c16="">Feed de notiticias</h4>
        <hr _ngcontent-ikr-c16="">

        <!-- Feed de noticias -->

        <div _ngcontent-xrh-c8="" class="card" *ngFor = "let tweet of tweets">
          <div _ngcontent-xrh-c8="" class="card-header">
            <div _ngcontent-emg-c16="" class="row mb-2">
                <div _ngcontent-emg-c16="" class="col-auto">
                  <img _ngcontent-emg-c16="" alt="" class="img-70 rounded-circle" src="assets/images/user/11.png">
                </div>
                <div _ngcontent-emg-c16="" class="col">
                  <h4 _ngcontent-emg-c16="" class="mb-1 ">{{tweet.usuario.nome}}</h4>
                  <p _ngcontent-emg-c16="" class="mb-4 ">@user</p>
                </div>
            </div>
          </div>
          <div _ngcontent-xrh-c8="" class="card-body">
            <form _ngcontent-rnt-c11="" class="needs-validation ng-untouched ng-pristine ng-valid" novalidate="">
              <div _ngcontent-xrh-c8="" class="form-row">
                <div _ngcontent-rnt-c11="" class="col-md-10 mb-3">
                  <h3>{{tweet.conteudo}}<span _ngcontent-oed-c15="" class="pull-right f-14">{{tweet.data | date: 'dd/MM/yyyy HH:mm' }}</span></h3>
                </div>
              </div>
            </form>
            <hr>
            <p _ngcontent-uqk-c7="">
              <button _ngcontent-ikr-c7="" class="btn btn-primary mr-1" type="button">Curtir</button>
              <button _ngcontent-ikr-c7="" class="btn btn-primary mr-1" type="button">Compartilhar</button> 
              <button _ngcontent-ikr-c7="" class="btn btn-primary mr-1" type="button" routerLink="/comentario-detalhe/{{tweet.id}}">Comentar</button>
            </p>
          </div>
        </div>
        <!-- Fim do Feed de noticias -->
      
    </div>
  </div>
</div>
<!-- Fim do Feed -->
