<div class="container-fluid">
  <div class="page-header">
    <div class="row">
      <div class="col-lg-6">
        <h3>Paginal Incial
          <small>Bem-Vindo!</small></h3>
      </div>
    </div>
  </div>
</div>

<div _ngcontent-vxo-c39="" class="container-fluid">
  <div _ngcontent-vxo-c39="" class="card-header"><h5 _ngcontent-vxo-c38="">Seu nome aqui</h5>
    <div _ngcontent-vxo-c86="" class="col-md-4 mb-3">
      <input _ngcontent-vxo-c86="" class="form-control ng-pristine ng-invalid ng-touched" id="validationCustom01" placeholder="No que está pensando hoje?" required="" type="text">
    </div>
    <div _ngcontent-vxo-c86="" class="form-group">
      <button _ngcontent-vxo-c42="" class="btn btn-primary active" type="button">Tweetar</button>
      <!--<i _ngcontent-vxo-c85="" class="icofont icofont-paper-clip"></i>-->
    </div>
  </div>

  <div _ngcontent-vxo-c39="" class="row">
    <div _ngcontent-vxo-c39="" class="col-xl-4 xl-50">
      <div _ngcontent-vxo-c39="" class="card">
        <div _ngcontent-vxo-c39="" class="card-header">
          <div _ngcontent-vxo-c39="" class="timeline">
            
            <div _ngcontent-vxo-c39="" class="media">
              <div _ngcontent-vxo-c39="" class="timeline-round m-r-30 timeline-line-1 bg-primary">
                <i _ngcontent-vxo-c39="" class="fa fa-shopping-bag"></i>
              </div>
              <div _ngcontent-vxo-c39="" class="media-body">
                <h6 _ngcontent-vxo-c39="">Nome Usuario <span _ngcontent-vxo-c39="" class="pull-right f-14">Data Postagem</span></h6>
                <p _ngcontent-vxo-c39="">Conteudo Tweet</p>
                <div>
                  <button _ngcontent-vxo-c43="" class="btn btn-square btn-primary btn-xs" type="button">Comentar</button>
                  <button _ngcontent-vxo-c43="" class="btn btn-square btn-primary btn-xs" type="button">Curtir</button>
                </div>
              </div>
            </div>
            
            <hr>

            <div _ngcontent-vxo-c39="" class="media">
              <div _ngcontent-vxo-c39="" class="timeline-round m-r-30 timeline-line-1 bg-primary">
                <i _ngcontent-vxo-c39="" class="fa fa-shopping-bag"></i>
              </div>
              <div _ngcontent-vxo-c39="" class="media-body">
                <h6 _ngcontent-vxo-c39="">Nome Usuario 2<span _ngcontent-vxo-c39="" class="pull-right f-14">Data Postagem</span></h6>
                <p _ngcontent-vxo-c39="">Conteudo Tweet 2</p>
                <div>
                  <button _ngcontent-vxo-c43="" class="btn btn-square btn-primary btn-xs" type="button">Comentar</button>
                  <button _ngcontent-vxo-c43="" class="btn btn-square btn-primary btn-xs" type="button">Curtir</button>
                </div>
              </div>
            </div>

            <hr>

            <div _ngcontent-vxo-c39="" class="media">
              <div _ngcontent-vxo-c39="" class="timeline-round m-r-30 timeline-line-1 bg-primary">
                <i _ngcontent-vxo-c39="" class="fa fa-shopping-bag"></i>
              </div>
              <div _ngcontent-vxo-c39="" class="media-body">
                <h6 _ngcontent-vxo-c39="">Nome Usuario 3<span _ngcontent-vxo-c39="" class="pull-right f-14">Data Postagem</span></h6>
                <p _ngcontent-vxo-c39="">Conteudo Tweet 3</p>
                <div>
                  <button _ngcontent-vxo-c43="" class="btn btn-square btn-primary btn-xs" type="button">Comentar</button>
                  <button _ngcontent-vxo-c43="" class="btn btn-square btn-primary btn-xs" type="button">Curtir</button>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

