<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <h6>Login</h6>
            <form #formulario="ngForm" (ngSubmit)="login(formulario.valid)">
                <div class="form-group">
                    <label> Usuário</label>
                    <input [ngClass]="formulario.submitted && !authDto.usuario ? 'border border-danger' : ''" class="form-control" name="usuario" [(ngModel)]="authDto.usuario" required>
                    <span class="text-danger" *ngIf="formulario.submitted && !authDto.usuario" >Campo obrigatório</span>
                </div>

                <div class="form-group">
                    <label> Senha</label>
                    <input class="form-control" name="senha" [(ngModel)]="authDto.senha" required>
                </div>

                <button class="btn btn-success" *ngIf="exibirBotao()">Acessar</button>
            </form>
        </div>
    </div>
</div> 